html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --bg-defaul: #060233;
  --text-default-color: #ffffff;
}

body {
  background-color: var(--bg-defaul);
  color: var(--text-default-color);
}
.magenta {
  color: #ff5e5e;
}

.gold {
  color: #ffbb00;
}

.purple {
  color: #bc47ff;
}
.lightblue {
  color: #4ce0c3;
}
.gold a {
  text-decoration: none;
  color: #ffbb00;
}

.gold a:visited {
  color: #ffbb00;
}
.gold a:hover a:focus {
  text-decoration: none;
  color: #ffbb00;
}
.magenta a {
  text-decoration: none;
  color: #ff5e5e;
}

.magenta a:visited {
  color: #ff5e5e;
}
.magenta a:hover a:focus {
  text-decoration: none;
  color: #ff5e5e;
}

.purple a {
  text-decoration: none;
  color: #bc47ff;
}

.purple a:visited {
  color: #bc47ff;
}
.purple a:hover a:focus {
  text-decoration: none;
  color: #bc47ff;
}

.lightblue a {
  text-decoration: none;
  color: #4ce0c3;
}

.lightblue a:visited {
  color: #4ce0c3;
}
.lightblue a:hover a:focus {
  text-decoration: none;
  color: #4ce0c3;
}
.nomadz-button {
  font-size: 25px;
  font-family: Poppins;
  font-weight: 700;
  height: 84px;
  width: 395px;
  border-radius: 12px;
  color: #ffffff;
  background-color: #6c1aef;
  box-shadow: 7px 5px 0px 0px #505050;
}

.headline {
  display: flex;
  width: 1300px;
  margin: 50px auto;
}

.headline .text {
  width: 55%;
}

.headline .text h1 {
  color: #a065ff;
  font-size: 49px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 40px;
  width: 90%;
}
.headline .text h2 {
  color: white;
  font-size: 35px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  padding-top: 60px;
}

.headline .images {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.headline .images .highlight-top-left {
  margin: 35px;
}
.headline .images .highlight-bottom-left {
  margin-top: 35px;
  margin-right: 35px;
}
.mapheadline {
  position: absolute;
  bottom: 80px;
}
.how-to-do {
  width: 1300px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  align-items: center;
  text-align: center;
}
.how-to-do .wrapper {
  width: 50%;
}

.how-to-do h2 {
  color: #a065ff;
  font-size: 49px;
  font-family: Poppins;
  font-weight: 700;
}
.how-to-do p {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}
.how-to-do img {
  padding-top: 100px;
}

.community {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.community .text {
  text-align: left;
}
.community .text .wrapper {
  padding-left: 35px;
}

.community .text .weight-200 {
  width: 67%;
  font-size: 18px;
  font-family: Poppins;
  word-wrap: break-word;
  font-weight: 200;
}

.community .text h2 {
  color: #ffbb00;
  font-size: 33px;
  font-family: Poppins;
}
.community .text em {
  font-size: 17px;
  font-family: Poppins;
  font-style: italic;
}

.community .text p strong {
  font-size: 22px;
  font-family: Poppins;
  line-height: 33px;
  word-wrap: break-word;
  font-weight: 700;
}

.experiences {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}
.experiences .text {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.experiences .text h1 {
  font-size: 42px;
  font-family: Poppins;
  line-height: 63px;
  word-wrap: break-word;
  font-weight: 600;
}
.places {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 8px;
}
.places img {
  max-width: 100%;
  height: auto;
  flex-grow: 1;
}
.places figure {
  margin: 0;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  position: relative;
}
.places figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 5px 10px;
  margin: 5px;
}
.brasil {
  grid-column: span 2;
  grid-row: span 3;
}

.cingapura {
  grid-column: span 3;
  grid-row: span 2;
}

.mexico {
  grid-column: span 3;
  grid-row: span 2;
}
.suecia {
  grid-column: span 2;
  grid-row: span 3;
}
.panama {
  padding-top: 10px;
  height: 80%;
  grid-column: span 4;
  grid-row: span 1;
}
.panama img {
  height: 80%;
}

.romenia {
  padding-top: 10px;
  width: 90%;
  grid-column: span 2;
  grid-row: span 1;
}
.romenia img {
  width: 90%;
}

.what-is {
  height: 840px;
  margin-top: 100px;
  background-image: url("../images/what-is.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.what-is .what-is-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.what-is h2 {
  font-size: 35px;
  margin: 20px;
  font-family: Poppins;
  font-weight: 700;
}

.what-is p {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}
.benefits {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.benefits h2 {
  font-size: 35px;
  font-family: Poppins;
  font-weight: 700;
  color: #37db5a;
}

.benefits ul {
  padding-left: 220px;
  column-count: 2;
  column-gap: 20px;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefit {
  width: calc(33.33% - 10px);
  margin-right: 10px;
  padding-left: 10px;
  border-left: 3px solid #37db5a;
  padding: 10px;
  margin-bottom: 40px;
  text-align: justify;
}

.who-am-i .text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 512px;
  padding-left: 0px;
  margin-right: 30px;
  margin-left: 30px;
}
.who-am-i .image {
  display: flex;
  justify-content: center;
}
.who-am-i img {
  height: 542px;
  width: 512px;
}
.who-am-i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.who-am-i .text h2 {
  color: #a065ff;
  font-size: 49px;
  font-family: Poppins;
  font-weight: 700;
  margin-bottom: 30px;
}
.who-am-i .text p {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
}

.subscribe-now {
  text-align: center;
  height: 591px;
  margin-top: 100px;
  background-image: url("../images/subscribe-now.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-now h2 {
  width: 35%;
  margin-top: 50px;
  font-size: 28px;
  font-family: Poppins;
  font-weight: 600;
}

.subscribe-now .price {
  padding-top: 40px;
  font-size: 43px;
  font-family: Poppins;
  font-weight: 500;
}

.subscribe-now .price small {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
}

.subscribe-now .insurance {
  width: 40%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 17px;
  font-family: Poppins;
  font-weight: 400;
}

@media (max-width: 1400px) {
  .what-is {
    height: 615px;
  }

  .what-is .what-is-container {
    width: 80%;
  }
  .headline {
    display: flex;
    text-align: left;
    width: 1300px;
    padding: 60px 60px 60px 60px;
    justify-content: center;
  }

  .headline .text h1 {
    color: #a065ff;
    font-size: 49px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 40px;
  }
  .headline .text {
    width: 60%;
  }
  .headline .text h2 {
    width: 75%;
    color: white;
    font-size: 35px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    padding-top: 60px;
  }

  .headline .images {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
  }
  .headline .images .highlight-top-left {
    margin-left: 48px;
    margin-bottom: 20px;
  }

  .mapheadline {
    position: absolute;
    bottom: -20px;
  }
  .experiences .text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .how-to-do {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
    text-align: center;
  }

  .how-to-do h2 {
    color: #a065ff;
    font-size: 49px;
    font-family: Poppins;
    font-weight: 700;
  }
  .how-to-do p {
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
  }
  .how-to-do img {
    padding-top: 100px;
  }

  .community {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .community .text {
    flex: 1;
    text-align: left;
    max-width: calc(50% - 10px);
  }
  .discord {
    flex: 1;
    text-align: center;
    max-width: calc(50% - 10px);
  }
}
@media (max-width: 1366px) {
  .headline {
    display: flex;
    text-align: left;
    width: 1300px;
    padding: 60px 60px 60px 60px;
    justify-content: center;
  }

  .headline .text h1 {
    color: #a065ff;
    font-size: 49px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 40px;
  }
  .headline .text {
    width: 60%;
  }
  .headline .text h2 {
    width: 75%;
    color: white;
    font-size: 35px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    padding-top: 60px;
  }

  .headline .images {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
  }
  .headline .images .highlight-top-left {
    margin-left: 48px;
    margin-bottom: 20px;
  }

  .mapheadline {
    position: absolute;
    bottom: -20px;
  }
  .community {
    width: 1300px;
  }
  .experiences {
    width: 1300px;
  }
  .experiences .text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .how-to-do {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
    text-align: center;
    width: 1300px;
  }

  .how-to-do h2 {
    color: #a065ff;
    font-size: 49px;
    font-family: Poppins;
    font-weight: 700;
  }
  .how-to-do p {
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
  }
  .how-to-do img {
    padding-top: 100px;
  }
  .what-is {
    width: 1300px;
  }
  .benefits {
    width: 1300px;
  }
  .who-am-i {
    width: 1300px;
  }

  .subscribe-now {
    width: 1300px;
  }
}

@media (max-width: 360px) {
  .community {
    display: flex;
    flex-direction: column;
  }
  .community .text {
    margin-bottom: 20px;
  }
  .who-am-i {
    display: flex;
    flex-direction: column;
  }
}
